@import '../../styles.scss';
@import '../synopsis/synopsis.component.scss';

.container {
  display: grid;
  grid-auto-flow: row;

  .bar {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 16px;
    align-items: center;
  }
  .header {
    text-decoration: underline;
    margin: 0;
  }
}
