<mat-card>
  <mat-card-header>
    <mat-card-title>Login!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
        matInput
        [(ngModel)]="newUserData.Username"
        placeholder="Username"
        type="text"
        name="username"
        >
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        [(ngModel)]="newUserData.Password1"
        placeholder="Password"
        type="password"
        name="newPassword"
        >
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        [(ngModel)]="newUserData.Password2"
        placeholder="Confirm password"
        type="password"
        name="confirmPassword"
        >
      </mat-form-field>
      <div *ngIf="pwCheck()" class="alert">
        Passwords do not match!
      </div>
      <mat-form-field>
        <input
        matInput
        [(ngModel)]="newUserData.Email"
        placeholder="Email"
        type="email"
        name="email"
        >
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        [(ngModel)]="newUserData.Birthday"
        placeholder="Birthday"
        type="date"
        name="birthday"
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
    mat-raised-button
    (click)="onUpdate()"
    color="primary"
    >
    Login
    </button>
  </mat-card-actions>
</mat-card>
