@import '../../styles.scss';

::ng-deep app-synopsis {
  display: grid;
  font-size: $font-main;
}

.dialog-close {
  background-color: unset;
  border: none;
  padding: 0;
  justify-self: end;

  mat-icon {
  cursor:pointer;
  }
}
