@import '../../styles.scss';

.nav-bar {
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  // grid-template-columns: 1fr auto 1fr;
  margin-bottom: $container-spacing;
  top: 0;
  width: 100%;
  z-index: 10;
  grid-template: "logo  .   actions" / 1fr auto 1fr;

  .nav-item {
    font-size: $font-header;
    grid-area: logo;
  }
  .nav-actions {
    grid-area: actions;

  .nav-button {
    font-size: $font-subheader;
  }
}
}
