<mat-toolbar
class="nav-bar"
color="primary">
  <button
  mat-button
  class="nav-item"
  (click)="routeToMovies()"
  >
  myFlix
  </button>
  <div class="nav-actions">
    <button
    mat-button
    class="nav-button"
    (click)="routeToMovies()">
      Movies
    </button>
    <button
    mat-button
    class="nav-button"
    (click)="routeToProfile()">
      Profile
    </button>
    <button
    mat-button
    class="nav-button"
    (click)="signOut()">
      Sign Out
    </button>
  </div>
</mat-toolbar>
