@import '../../styles.scss';

.nav-bar {
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  grid-template-columns: auto 1fr;
  margin-bottom: $container-spacing;
  top: 0;
  width: 100%;
  z-index: 10;

  .nav-item {
    font-size: $font-header;
    justify-self: left;
  }
  .nav-actions {
    justify-self: right;

  .nav-button {
    font-size: $font-subheader;
  }
}
}
